@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #65C285, #379945);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #091d0d93;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #91E6B3;
    text-align: center;
    text-shadow: 1px 1px 0px #2d4737af;
}

h2{
    color: #1D615E;
}

p{
    text-align: justify;
}